extends ../layout

block content
  .aloha-container
    h1.aloha-header Challenge setup
  
    .challenge__settings-block
      legend Share

      p To give opportunity to your viewers to create amazing challenges for you - share this URL with them:
      .input-group
        input.form-control(value=shareLink, id='share-link')
        .input-group-btn
          button.btn.btn-default(data-clipboard-target="#share-link")
            i.fa.fa-copy

    .challenge__settings-block
      legend Settings

      form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label(for='fee') Fee
          p The fee will be charged to the user in any case whether the challenge is completed or not.
          p The fee amount will be transferred to your account right after viewer would create a challenge.
          .input-group
            .input-group-addon $
            input.form-control(
              type='number',
              name='fee',
              id='fee',
              min='0.00',
              max='10000.00'
              step='0.01',
              value=configuration.fee
            )
        .form-group
          button.btn.btn-primary(type='submit') Save
