extends ../layout

block content
  .aloha-container
    h1.aloha-header Payments

    .payments
      if payments && payments.length
        .payments__header.payments__row
            .payments__header__column.payments__column__20width Payment Id
            .payments__header__column.payments__column__40width Challenge
            .payments__header__column.payments__column__10width Reward
            .payments__header__column.payments__column__10width Fee
            .payments__header__column.payments__column__20width Status

      .payments__row
        each payment in payments
          .payments__column.payments__column__id.payments__column__20width #{payment.id}
          .payments__column.payments__column__40width #{payment.challengeName}
          .payments__column.payments__column__10width #{payment.reward}
          .payments__column.payments__column__10width #{payment.fee}
          .payments__column.payments__column__20width
            if payment.status === PAYMENT_STATUS.ON_HOLD
              span.label.label-default #{payment.status}
            if payment.status === PAYMENT_STATUS.RETURNED_TO_VIEWER
              span.label.label-danger #{payment.status}
            if payment.status === PAYMENT_STATUS.ON_VERIFICATION
              span.label.label-info #{payment.status}
            if payment.status === PAYMENT_STATUS.PAID_TO_STREAMER
              span.label.label-success #{payment.status}

      if !payments || !payments.length
        .row
          .col-md-12.small
            .center-stub-phrase You don't have payments yet. Take it as an opportunity! :)

      .payments__row
      .totals
        .totals__amount
          .totals__amount__title Total paid:
          if totalPaid
            | #{totalPaid}
          else
            | --

        .totals__amount
          .totals__amount__title Total on verification:
          if totalOnVerification
            | #{totalOnVerification}
          else
            | --
