extends ../layout

block content
  .aloha-container
    h1.aloha-header Profile Information

    form(action='/account/profile', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .profile-form__block
        label.profile-form__label(for='email') Email
        input.profile-form__input(type='email', name='email', id='email', value=user.email)
      .profile-form__block
        label.profile-form__label(for='name') Name
        input.profile-form__input(type='text', name='name', id='name', value=user.profile.name)
      .profile-form__block
        label.profile-form__label Gender
        .profile-form__block__radio-group
          .radio-group__item
            input.radio-group__item__radio(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
            span Male
          .radio-group__item
            input.radio-group__item__radio(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
            span Female
          .radio-group__item
            input.radio-group__item__radio(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
            span Other
      .profile-form__block
        label.profile-form__label(for='location') Location
        input.profile-form__input(type='text', name='location', id='location', value=user.profile.location)
      .profile-form__block
        label.profile-form__label(for='website') Website
        input.profile-form__input(type='text', name='website', id='website', value=user.profile.website)
      .profile-form__block
        label.profile-form__label Gravatar
        img(src=user.gravatar(), class='profile', width='100', height='100')
      .profile-form__block
        button.profile-form__submit(type='submit')
          i.fa.fa-pencil
          | Update Profile

    h1.aloha-header Change Password

    form(action='/account/password', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .profile-form__block
        label.profile-form__label(for='password') New Password
        input.profile-form__input(type='password', name='password', id='password')
      .profile-form__block
        label.profile-form__label(for='confirmPassword') Confirm Password
        input.profile-form__input(type='password', name='confirmPassword', id='confirmPassword')
      .profile-form__block
        button.profile-form__submit(type='submit')
          i.fa.fa-lock
          | Change Password

