extends ../layout

block content
  .aloha-container
    h1.aloha-header Challenges
  
    div
      input(id='_csrf', type='hidden', name='_csrf', value=_csrf)
      each challenge in challenges
        .panel.panel-default(
            data-challenge-id=challenge._id,
            class={
              'challenge-panel--finished': challenge.currentChallengeStatus.status === 'DONE' || challenge.currentChallengeStatus.status === 'REJECTED'
            })
          .panel-heading.challenge-panel__header
            div
              h3.panel-title.challenge-panel__header__reward Reward: 
                span.challenge-panel__header__price $#{challenge.price} 
                span + $#{challenge.fee} tips
                span  from 
                span.challenge-panel__header__nickname #{challenge.viewer && challenge.viewer.nickname}
              h4.panel-title Time: #{formatDuration(challenge.duration)}
            if challenge.currentChallengeStatus.status === 'NEW' || challenge.currentChallengeStatus.status === 'REJECTED'
              div #{challenge.currentChallengeStatus.status}
          .panel-body
            div.challenge-panel__body__name #{challenge.name}
            if challenge.description
              div.challenge-panel__body__description
                div Description:
                div #{challenge.description}
          if challenge.currentChallengeStatus.status === 'NEW'
            .panel-footer.accept-reject-footer
              button.btn.btn-success.accept-challenge(type='button', style='margin-right: 5px;', data-challenge-id=challenge._id) Accept
              button.btn.btn-danger.reject-challenge(type='button', data-challenge-id=challenge._id) Reject
          
          if challenge.currentChallengeStatus.status !== 'NEW' && challenge.currentChallengeStatus.status !== 'DONE' && challenge.currentChallengeStatus.status !== 'REJECTED'
            .panel-footer.done-footer
              button.btn.btn-success.done-challenge(type='button', style='margin-right: 5px;', data-challenge-id=challenge._id) Done
              button.btn.btn-danger.reject-challenge(type='button', data-challenge-id=challenge._id) Can't do it

    if !challenges || !challenges.length
        .row
          .col-md-12.small
            .center-stub-phrase
              | There are no challenges yet. Don't forget to share the 
              a(href='/account/challenges') link
              |  to your viewers and everything will be great! :)
