extends ../layout

block content
  script(src='https://checkout.stripe.com/checkout.js')
  script(src='https://www.paypalobjects.com/api/checkout.js')
  script(src='/js/payment.js')

  .aloha-container
    h1.aloha-header Submit Challenge

    .panel.payment-options__challenge
      h4 #{name}
      p #{description}
      p #{duration}

      .payment-options__challenge__price
        div Reward: $#{price}
        div Fee: $#{fee}

    .payment-options__payment-methods
      input(type='hidden', name='_csrf', id='_csrf', value=_csrf)
      input(type='hidden', name='challengeId', id='challengeId', value=challengeId)
      input(type='hidden', name='price', id='price', value=price)
      input(type='hidden', name='fee', id='fee', value=fee)
      input(type='hidden', name='streamerId', id='streamerId', value=streamerId)
      .form-group.panel.radio.payment-options__payment-methods__method.payment-method
        label
          input(type='radio', name='paymentMethod', value='payPal', id='radio-paypal', checked)
          | PayPal
        div
          img.payment-method__logo(src='/images/logo-paypal.svg')
      .form-group.panel.radio.payment-options__payment-methods__method.payment-method
        label
          input(type='radio', name='paymentMethod', value='stripe', id='radio-stripe')
          | Stripe
        div
          img.payment-method__logo(src='/images/logo-stripe.svg')
      button.payment-options__submit(id='stripe-submit-payment', style='display: none;') Submit challenge
      div.payment-options__submit--paypal(id='paypal-submit-payment', style='display: none;')
